table
{
border:2px solid yellow;
padding: 5px;
text-align: center;
border-collapse: collapse;
}

tr
{
border:3px solid yellow;
padding: 15px;
border-collapse: collapse;
}

td
{
border:2px solid yellow;
padding: 15px;
border-collapse: collapse;
background-color:brown;
color:yellow;
font-weight:lighter;

}
.wrr
{

  border:2px solid yellow;
  padding: 15px;
  border-collapse: collapse;
  background-color:red;
  color:yellow;
}
.wrrr
{

  border:2px solid yellow;
  padding: 15px;
  border-collapse: collapse;
  background-color:black;
  color:yellow;
}
